:root {
    --color-black: #000;
    --color-black-mute: #2a2a2a;
    --color-white: #FFF;
    --color-white-mute: #FEFEFE;
    --color-green: #00ab00;
    --color-green-mute: #6cf56c;
    --color-gray: #9d9d9d;
}

html {
    font-size: 100%;
}

body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
    background-color: var(--color-black);
    line-height: 1.75;
    font-size: 1.125rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

img {
    max-width: 100%;
    
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: var(--color-gray)
}

.big-text {
    font-size: 6rem;
}

.text-green {
    color: var(--color-green);
}

.rotate{
   animation: rotation infinite 60s linear;
}

@keyframes rotation{
  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}

.drop-in {
 animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2 {
 animation: drop-in 1200ms ease 500ms backwards;
}

.drop-in-3 {
 animation: drop-in 1400ms ease 800ms backwards;
}

@keyframes drop-in {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}

.navbar {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

.nav-item:not(:last-of-type) {
    padding-right: 2rem;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.25s;
    font-size: .875rem;
    font-weight: 300;
    color: var(--color-white);
}

.nav-link:hover {
    color: var(--color-green);
}

.toggle {
    display: none;
}

.bars {
    width: 30px;
    height: 5px;
    background: var(--color-black-mute);
    margin: 0.25rem 0;
}

.get-started {
    color: var(--color-white) !important;
    border: 1px solid var(--color-green);
    background: transparent;
    border-radius: 50px;
    padding: 0.75rem 1.5rem !important;
    transition: all 0.25s;
}

.navbar-toggler {
    background-image: url("data:image/svg+xml;..");
}

.get-started:hover {
    background: var(--color-green);
}

.text-center {
    text-align: center !important;
}

.section-wrap {
    padding: 6rem 0;
}

.section-title {
    margin-bottom: 2rem;
}

.hero-section {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
}

.tech-stack img,
.tools img {
    height: 50px;
    max-width: 50px;
    background: #1D1F23;
    padding: 0.75rem;
    border-radius: 0.25rem;
    filter: grayscale(1);
    transition: all 0.25s;
}

.tech-stack img:hover,
.tools img:hover {
    filter: grayscale(0);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.project-item {
    transition: all 0.25s;
}

.project-item:hover {
   transform: scale(1.1);
}

.project-item p {
    font-size: 1rem;
    margin: 1rem 0 0;
}

.center-image {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
}

.center-image:hover {
    opacity: 0.75;
}

.project-gallery .modal-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;    
}

.project-gallery .modal-content {
    border: none;
    background: #080808;
}

.project-gallery .modal-header {
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.testimonial-item {
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;
    min-height: 330px;
    transition: all 0.25s;
}

.testimonial-item:hover {
    background: var(--color-black-mute);
}

.testimonial-item p {
    font-size: 1rem;
}

.testimonial-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
}

.testimonial-footer p {
    font-size: 1rem;
    margin-bottom: 0;
}

.client-image img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text links";
    padding: 1rem 0;
    align-items: center;
}

.footer-grid h2 {
    grid-area: text;
}

.footer-links {
    grid-area: links;
    list-style: none;
}

.footer-links li {
    display: inline-block;

}

.footer-links li:not(:last-of-type) {
    padding-right: 2rem;
}

.footer-links li a {
    color: var(--color-white);
    text-decoration: none;
}

.footer-links li a:hover {
    color: var(--color-green);
}


@media (max-width: 768px) {
    .big-text {
        font-size: 4rem;
    }
    .hide-mobile {
        display: none;
    }
    .footer-links li {
        display: block;
    }
    .footer-links li:not(:last-of-type) {
        padding-right: 0;
    }
    .project-grid {
        gap: 1rem;
    }
    .testimonial-grid {
        grid-template-columns: 1fr;
        grid-template-areas: unset;
    }
    .testimonial-item {
        min-height: unset;
    }
    .testimonial-footer {
        position: relative;
        bottom: 0;
    }
}
